.App {
  text-align: center;
  text-shadow: 2px 2px #000000;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.TopContainer {
  height: 20%
}

.Clock {
  margin-left: 16px;
  text-align: left;
  color: white;
}

.Clock-time {
  font-size: 5em;
}

.Clock-period {
  font-size: 2em
}

.Date {
  margin-left: 16px;
  text-align: left;
  color: white;
}

.Date-day {
  font-size: 2em
}

.Date-date {
  font-size: 1.5em
}

.MiddleContainer {
  height: 55%
}

.BottomContainer { 
  height: 25%
}

.Weather {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
  text-align: left;
  color: white;
}

.Weather-current {
 
}

.Weather-current-wind {
  font-size: 2em;
}

.Weather-current-sunrise {
  font-size: 2em;
}

.Weather-current-temp {
  font-size: 5em;
}

.Weather-forecast {
  background-color: rgba(0, 0, 255, 0.5);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  text-align: left;
  color: white;
}
